

$header-height: 48px;
$margin: 16px;
$double: 32px;
$half: 8px;
$dark: #222;
$mid: #777;
$light: #EFEFEF;
$shadow: 0 0 $margin rgba(0, 0, 0, 0.25);
$teal: #4de6c8;
$blue: #03b0e8;
$gradient: linear-gradient(77deg, #03b0e8, #26cad9,#37d6d2,#4de6c8,#4de6c8,#4de6c8);