
@import './globals.scss';

* {
    outline-width: 0;
}

body, html {
    font-family: 'IBM Plex Mono', monospace;
    text-align:center;
    margin: 0;
    background: $cool-gray;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    margin-bottom: $margin;
}

.button {
    margin: 0;
    color: white;
    background: $blue;
}

.processingCover {
    z-index: 9999;
    position: fixed;
    top:0; left: 0;
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
    filter: blur(1px);
}

#root {
    margin:auto;
}

.route {
    background: white;
    padding-top: $header-height;
    max-width: $max-width;
    min-height: calc(100vh - #{$header-height});
    margin:auto;
    background: $gradient;
}

.bubble {
    padding: $margin;
    background: white;
    color: black;
    box-shadow: $shadow;
}

.gradient {
    color: white;
}

section {
    text-align: left;
    padding: $margin;
}

button {
    margin: $margin;
    font-family: 'IBM Plex Mono', monospace;
    font-size: $margin;
    line-height: $margin;
    height: 48px;
    border-radius: 24px;
    border: 2px solid white;
    padding: $half;
    color: #03b0e8;
    background: white;
}

input {
    font-family: 'IBM Plex Mono', monospace;
    font-size: $margin;
    line-height: $margin;
    height: 48px;
    padding: $half;
    width: 100%;
    border: none;
    border: 2px solid $light;
}

.center {
    text-align: center;
}

.breakAll {
    word-wrap: break-word;
}

.marginTop {
    margin-top: $margin;
}