

@import './../../theme/theme.module.scss';

.inventory {
    width: calc(100% + 32px);
    margin-left: -$margin;
    > div {
        margin-bottom: $margin;
        > div:first-child {
            background: white;
            color: black;
            p {
                padding: $margin;
            }
        }
    }
}
.image {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    max-height: 375px;
    box-shadow: $shadow;
    > img {
        object-fit: cover;
        width: 100%;
    }
    > p {
        position: absolute;
        top: 0;
        background: white;
        margin: 0;
        padding: $half !important;
        z-index: 3;
        font-weight: bold;
    }
    > p:nth-child(2) {
        left: 0;
    }
    > p:nth-child(3) {
        right: 0;
    }
}

.soldOut {
    filter: grayscale(0.9);
}

.stats {
    box-shadow: $shadow;
    position: relative;
    background: white;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    > p {
        margin: 0;
    }
    margin-bottom: $margin;
}

.button {
    margin-right: $margin;
    margin-bottom: $double;
    text-align: right;
    button {
        margin: 0;
    }
}
